:root {
    --main-color: rgb(83, 202, 97);
    --main-color-shadow: rgb(83 202 97 / 50%);
    --sec-color: rgb(222, 184, 135);
    --background: #f3f2f4;
    --grey: #4d5057;
    --red: #ff1818d3;
    --logo-color: rgb(25, 135, 84);
    --logo-color-shadow: rgb(25 135 84 / 50%);
    --logo-accent: #157347;
}

.navbar {
    background-color: var(--logo-color);
}

html,
body {
    background-color: var(--background);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:focus {
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem var(--main-color-shadow);
}

.btn-outline-primary {
    color: var(--main-color);
    border-color: var(--main-color);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--logo-color);
    border-color: var(--logo-color-shadow);
    box-shadow: 0 0 0 0.25rem var(--logo-color-shadow);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--logo-color);
    border-color: var(--logo-color);
}

.page-item.active .page-link {
    background-color: var(--logo-color);
    border-color: var(--logo-color-shadow);
}

.page-link {
    color: black;
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.headericon {
    font-family: "Material Icons";
    background-color: var(--logo-color);
    color: var(--sec-color);
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

.headericon:hover {
    background-color: var(--logo-accent);
}

#navLinks1,#navLinks2,#navLinks3,#navLinks4 {
    color: var(--sec-color);
    text-decoration: none;
}

#selectedLink {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.simpleicon {
    font-family: "Material Icons";
    background-color: var(--background);
    color: black;
    border: 0px solid transparent;
    font-size: 1.5rem;
}

#simpleiconwhite {
    background-color: white;
}

#simple-btt {
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
    font-size: 1.15rem;
    text-decoration: none;
}

#simple-btt:active {
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
}

#simple-btt:checked {
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
}

#simple-btt:focus {
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
}

#vertical_line {
    width: 2px;
    height: 700px;
    background-color: #198754;
}

#horizontal_line {
    width: 200px;
    height: 1.5px;
    background-color: black;
}


/* https://bbbootstrap.com/snippets/star-rating-pure-css-19646372 */

.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 1.5rem;
    color: #ffd600;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}

.customcard img {
    height: 230px;
}

.row .bi-suit-heart,
.bi-suit-heart-fill {
    color: red;
}


/* Favorite Toggle */

label.favorite-checkbox input[type="checkbox"] {
    display: none;
}

.favorite-checkbox {
    margin-left: 2em;
    position: relative;
    cursor: pointer;
}

.favorite-checkbox .bi {
    color: red;
    position: absolute;
    left: -1.25em;
}

.favorite-checkbox .bi-heart {
    color: gray;
}

.favorite-checkbox .bi-heart-fill {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.favorite-checkbox:hover .bi-heart-fill {
    opacity: 0.5;
}

.favorite-checkbox input[type="checkbox"]:checked~.bi-heart-fill {
    opacity: 1;
}

label.active {
    font-weight: bold;
}

#pills-weekly input[type="radio"]:checked+label {
    font-weight: bold;
}

.card {
    border-radius: 1px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card .overdiv {
    z-index: 2;
}


/* BEGIN SIDEBAR */


/* sidebar is collapsed by default on small screen */

#sidebar {
    position: fixed;
    height: 100%;
    /* full screen size excluding navbar */
    transition: all 0.5s;
    z-index: 999;
    /* scrollbar */
    overflow-x: hidden;
    overflow-y: auto;
}


/* hide scrollbar for Chrome, Safari and Opera */


/* source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

.example::-webkit-scrollbar {
    display: none;
}

#sidebar.show {
    top: 57px;
    left: 0;
    bottom: 0;
}

#sidebar li:hover,
#sidebar li.active {
    margin-left: 0.5em;
    /* extra margin on selected element */
}

.sticky {
    position: absolute;
    top: 0;
}


/* END SIDEBAR */

.footer {
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.alert {
    height: fit-content;
    font-weight: 80;
}

a.customcard,
a.customcard:hover,
#unformatedLink,
#unformatedLink:hover,
.unformatedLink,
.unformatedLink:hover {
    color: inherit;
    text-decoration: inherit;
}


/* .delete {
  color: var(--red);
}

.delete:hover {
  color: var(--red);
} */

.delete {
    color: var(--grey);
}

.delete:hover {
    color: var(--grey);
}

.add_form_field {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}

.add_form_field:hover {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}


/* .add_form_field:focus {
  background-color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem var(--main-color-shadow);
} */

.add_form_field {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--sec-color);
    border: var(--sec-color);
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.product-grid8 .social {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 13px;
    right: 13px;
    z-index: 1
}

.product-grid8 .social li {
    opacity: 0;
    transform: translateY(3px);
    transition: all .5s ease 0s
}

.product-grid8:hover .social li {
    margin: 0 0 10px;
    opacity: 1;
    transform: translateY(0)
}

.product-grid8:hover .social li:nth-child(1) {
    transition-delay: .1s
}

.product-grid8:hover .social li:nth-child(2) {
    transition-delay: .2s
}

.product-grid8:hover .social li:nth-child(3) {
    transition-delay: .3s
}

.product-grid8 .social li a {
    color: var(--sec-color);
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid var(--sec-color);
    display: block;
    transition: all .5s ease-in-out
}

.product-grid8 .social li a:hover {
    color: var(--sec-color);
    border-color: var(--sec-color);
}

.product-grid6 .social {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all .5s ease 0s
}

.product-grid6:hover .social {
    opacity: 1;
    bottom: 20px
}

.product-grid6 .social li {
    display: inline-block
}

.product-grid6 .social li a {
    color: var(--sec-color);
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 0 7px;
    border: 1px solid var(--sec-color);
    border-radius: 50px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.product-grid6 .social li a:hover {
    color: #fff;
    background-color: var(--sec-color);
    width: 80px
}

.product-grid6 .social li a:after,
.product-grid6 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: var(--sec-color);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid6 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.product-grid6 .social li a:hover:after,
.product-grid6 .social li a:hover:before {
    opacity: 1
}

.card-text {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bundle_products_box {
    height: 300px;
    overflow-y: scroll;
}
