.navbar{
    background-color: #198754;
}

#headericon{
    font-family: 'Material Icons';
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

#headericon:hover {
    background-color: #157347;
}


#footericon {
    font-family: 'Material Icons';
    background-color:#15734731;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
}

#footericon:hover {
    background-color: #15734757;
}

#navfooter{
    background-color: 15734731;
}

#navbarPage{
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

#navLinks
{
    color: burlywood;
    text-decoration: none;
}

#blackLinks
{
    color: black;
    text-decoration: none;
    font-size: 1.15rem;
}

#selectedLink
{

    color: black;
    font-weight: bold;
    text-decoration: none;
}

.mainbtt
{
    text-align: center;
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
}

.mainbtt:hover {
    background-color: #157347;
}

#mainbtticon
{
    font-family: 'Material Icons';
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
}

#mainbtticon:hover {
    background-color: #157347;
}

#simpleicon
{
    font-family: 'Material Icons';
    background-color: white;
    color: black;
    border: 0px solid transparent;
    font-size: 1.5rem;
}

#simple-btt
{
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
    font-size: 1.15rem;
    text-decoration: none;
}

#simple-btt:active
{
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
}

#simple-btt:focus
{
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
}

#vertical_line
{
    width: 2px;
    height: 700px;
    background-color: #198754;
}

#horizontal_line
{
    width: 200px;
    height: 1.5px;
    background-color: black;
}


/* .profilePhoto{
    border-radius: 50%;
} */

/* https://bbbootstrap.com/snippets/star-rating-pure-css-19646372 */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 1.5rem;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.customcard img {
    height: 230px;
}

.row .bi-suit-heart {
    color: red;
}

.btn-outline-primary {
    color: #53ca61;
    border-color: #53ca61;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #53ca61;
    border-color: #53ca61;
}

.btn-primary {
    background-color: #53ca61;
    border-color: #53ca61;
}

.btn-primary:hover {
    background-color: #53ca61;
    border-color: #53ca61;
}

/* .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */


.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}