.navbar{
    background-color: #198754;
}

#headericon{
    font-family: 'Material Icons';
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

#headericon:hover {
    background-color: #157347;
}


#footericon {
    font-family: 'Material Icons';
    background-color:#15734731;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
}

#footericon:hover {
    background-color: #15734757;
}

#navfooter{
    background-color: 15734731;
}

#navbarPage{
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

#navLinks
{
    color: burlywood;
}

#mainbtt
{
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}


/* .profilePhoto{
    border-radius: 50%;
} */