.navbar{
    background-color: #198754;
}

#headericon{
    font-family: 'Material Icons';
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

#headericon:hover {
    background-color: #157347;
}


#footericon {
    font-family: 'Material Icons';
    background-color:#15734731;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
}

#footericon:hover {
    background-color: #15734757;
}

#navfooter{
    background-color: 15734731;
}

#navbarPage{
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

#navLinks
{
    color: burlywood;
    text-decoration: none;
}

.mainbtt
{
    text-align: center;
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
}

.mainbtt:hover {
    background-color: #157347;
}

#mainbtticon
{
    font-family: 'Material Icons';
    background-color: #198754;
    color: burlywood;
    border: 0px solid transparent;
    font-size: 1.25rem;
}

#mainbtticon:hover {
    background-color: #157347;
}



#simpleicon
{
    font-family: 'Material Icons';
    background-color: white;
    color: black;
    border: 0px solid transparent;
    font-size: 1.75rem;
}



#vertical_line
{
    width: 2px;
    height: 700px;
    background-color: #198754;
}

#horizontal_line
{
    width: 200px;
    height: 1.5px;
    background-color: black;
}


/* .profilePhoto{
    border-radius: 50%;
} */